{% extends 'layout.html' %}

{% block title %}{% endblock %}

{% block head %}
<link href="/assets/vendors/jquery/jquery-ui.css" rel="stylesheet">
<style>
.ui-slider{
	margin-top: 11px;
}

input{
    background: grey !important;
    color: white !important;	
}

.panel-default > .panel-heading{
	background: blue;
	color: white;
}

.panel-default{
	border-color: blue;
}

.ui-widget.ui-widget-content{
	background: blue;
}

..ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
	background: red;
}
</style>
{% endblock %}

{% block content %}
<div class="col-xs-12 col-sm-12">
	<h1>UI library</h1>
	<div id="content"></div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="/assets/vendors/jquery/jquery.js"></script>
<script type="text/javascript" src="/assets/vendors/jquery/jquery-ui.js"></script>
<script type="text/javascript" src="/assets/build/app.js"></script>
{% endblock %}